<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://cdn.tailwindcss.com"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <title>DASHBOARD</title>
    </head>
    <body class="h-full">
        <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
            <div class="flex justify-end sm:mx-auto sm:w-full sm:max-w-sm">
                <p th:text="${auth.getName()}"></p>&nbsp;
                <a class="text-blue-600"th:href="@{/logout}">Sair</a>
            </div>
            <div class="sm:mx-auto sm:w-full sm:max-w-sm">
                <h2 class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900">DASHBOARD</h2>
            </div>

            <div class="flex flex-row justify-end sm:mx-auto sm:w-full sm:max-w-sm">
                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded novo">Novo</button>
            </div>

            <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                <table class="table-auto min-w-full text-left text-sm font-light text-surface dark:text-black">
                    <thead class="border-b border-neutral-200 font-medium dark:border-white/10">
                        <tr>
                            <th scope="col" class="px-6 py-4">Nome</th>
                            <th scope="col" class="px-6 py-4">Ações</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="list: ${lists}" class="border-b border-neutral-200 dark:border-white/10 text-black">
                            <td class="whitespace-nowrap px-6 py-4 font-medium text-black"th:text="${list.getName()}"></td>
                            <td>
                                <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded exibir" th:data-lista="${list.getId()}">Exibir</button>&nbsp;
                                <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded remover" th:data-lista="${list.getId()}">Remover</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script>
            $(".exibir").click((e) => {
                let id = $(e.target).data("lista");
                Swal.fire({
                    didOpen: () => Swal.showLoading(),
                    didClose: () => Swal.hideLoading()
                });
                window.location.href="/lista/"+id;
            });

            $(".remover").click((e) => {
                let id = $(e.target).data("lista");
                Swal.fire({
                    title:"Deseja realmente remover esta lista?",
                    text:"Tem certeza que deseja remover esta lista? Essa remoção não poderá ser revertida",
                    icon:"info",
                    confirmButtonText:"Sim",
                    cancelButtonText:"Não",
                    showCancelButton: true,
                    showLoaderOnConfirm: true
                }).then((result) => {
                    if(result.isConfirmed)
                    {
                        Swal.fire({
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false,
                            showConfirmButton: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        });
    
                        $.ajax({
                            url:"/lista/"+id,
                            method:"DELETE",
                            success: () => {
                                Swal.hideLoading();
                                Swal.fire({
                                    title:"Removido com sucesso!",
                                    icon:"success"
                                });
                            }, 
                            error: (result) => {
                                console.log(result);
                                Swal.hideLoading();
                                Swal.fire({
                                    title:"Erro em remover",
                                    icon:"error"
                                });
                            }
                        });
                    }
                });
            });

            $(".novo").click((e) => {
                Swal.fire({
                    title:"Nova Lista",
                    showCancelButton:true,
                    inputLabel:"Nome",
                    input:"text",
                    inputValidator: (val) => {if(!val || val.length == 0) return "Nome não pode ser vazio";},
                }).then((result) => {
                    if(result.isConfirmed)
                    {
                        Swal.fire({
                            allowOutsideClick: false,
                            allowEscapeKey: false,
                            allowEnterKey: false,
                            showConfirmButton: false,
                            didOpen: () => {
                                Swal.showLoading();
                            }
                        });
    
                        $.ajax({
                            url:"/lista",
                            method:"POST",
                            data: {
                                name:result.value
                            },
                            success: () => {
                                Swal.hideLoading();
                                Swal.fire({
                                    title:"Lista criada com sucesso!",
                                    icon:"success"
                                });
                            }, 
                            error: (result) => {
                                console.log(result);
                                Swal.hideLoading();
                                Swal.fire({
                                    title:"Erro em criar",
                                    icon:"error"
                                });
                            }
                        });
                    }
                });
            })
        </script>
    </body>
</html>